<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Akario Store</title>

    <link rel="stylesheet" href="public/css/adminpage.css" media="screen">
    <link id="u-theme-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister:400">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="public/css/store.css" media="screen">
</head>


<body>
    <h1 class="u-align-center u-custom-font u-text u-text-default u-text-1" spellcheck="false">ูAkario Store๐</h1>
    
    <h1 class="u-align-center u-custom-font u-text u-text-default u-text-1" spellcheck="false"
        style="font-size: 1.5rem;">Roulette</h1>
    <!--ูุณู ุงูุฑูููุช-->
    <div class="container">
        <!-- ุงูุฑูููุช-->
        <div class="card" style="width: 400px;">
            <div class="card-top background-red">
                <h3>ุฑูููุช</h3>
                <p class="card-subtag">ุนุฌูุฉ ุงูุญุธ ูุฏ ุชุฑุจุญ ุงููุซูุฑ ูุงุถุนุงู ูุง ุตุฑูุช ููู ูุฏ ุชููู ุงูุนูุงูุจ ูุฎููุฉ ุงุฎุชุจุฑ ุญุธู</p>
            </div>
            <div class="options">
                <ul class="option-list">
                    <li class="option">
                        <span class="number">Diamond ๐</span>
                        <span class="time-frame">ูุฑุฉ ุจุงูุงุณุจูุน ุนูู ุงูุงูุซุฑ</span>
                        <span class="cost">1500k</span>
                    </li>
                    <li class="option">
                        <span class="number">Gold ๐ฅ</span>
                        <span class="time-frame">ูุฑุชุงู ูู ุงูููู ุนูู ุงูุงูุซุฑ</span>
                        <span onclick="alertFull(2,240)" class="cost">450k</span>
                    </li>
                    <li class="option">
                        <span class="number">Silver ๐ฅ</span>
                        <span class="time-frame">ูุฑุชุงู ูู ุงูููู ุนูู ุงูุงูุซุฑ</span>
                        <span onclick="alertFull(3,180)" class="cost">150k</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <h1 class="u-align-center u-custom-font u-text u-text-default u-text-1" spellcheck="false"
        style="font-size: 1.5rem;">Warnings</h1>
    <!--ูุณู ุงูุงูุฐุงุฑุงุชุง-->
    <div class="container">
        <!-- ุญุฐู ุงูุฐุงุฑ-->
        <div class="card">
            <div class="card-top background-red">
                <h3>ุญุฐู ุงูุฐุงุฑ</h3>
                <p class="card-subtag">ุญุฐู ุงู ุงูุฐุงุฑ ุจุดุฑุท ูุฑูุฑ ุนูู ุงูุงูู ุซูุงุซ ุงูุงู ูู ุตุฏูุฑู</p>
            </div>
            <div class="options">
                <ul class="option-list">
                    <li class="option">
                        <span class="number">1</span>
                        <span class="time-frame">ุงูุฐุงุฑ</span>
                        <span class="cost">300k/ุงูุฐุงุฑ</span>
                        <span class="old_cost">450k/ุงูุฐุงุฑ</span>
                    </li>
                    <li class="option">
                        <span class="number">2</span>
                        <span class="time-frame">ุงูุฐุงุฑุงู</span>
                        <span onclick="alertFull(2,240)" class="cost">240k/ุงูุฐุงุฑ</span>
                        <span onclick="alertFull(2,360)" class="old_cost">360k/ุงูุฐุงุฑ</span>
                    </li>
                    <li class="option">
                        <span class="number">3</span>
                        <span class="time-frame">ุงูุฐุงุฑุงุช</span>
                        <span onclick="alertFull(3,180)" class="cost">180k/ุงูุฐุงุฑ</span>
                        <span onclick="alertFull(3,270)" class="old_cost">270k/ุงูุฐุงุฑ</span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- ุญุฐู ุชูุจูู -->
        <div class="card">
            <div class="card-top background-red">
                <h3>ุญุฐู ุชูุจูู</h3>
                <p class="card-subtag">ุญุฐู ุงู ุชูุจูู ุจุดุฑุท ูุฑูุฑ ุนูู ุงูุงูู ููู ูู ุตุฏูุฑู</p>
            </div>
            <div class="options">
                <ul class="option-list">
                    <li class="option">
                        <span class="number">1</span>
                        <span class="time-frame">ุชูุจูู</span>
                        <span class="cost">150k/ุชูุจูู</span>
                        <span class="old_cost">250k/ุชูุจูู</span>
                    </li>
                    <li class="option">
                        <span class="number">2</span>
                        <span class="time-frame">ุชูุจููุงู</span>
                        <span onclick="alertFull(2,240)" class="cost">120k/ุชูุจูู</span>
                        <span onclick="alertFull(2,360)" class="old_cost">180k/ุชูุจูู</span>
                    </li>
                    <li class="option">
                        <span class="number">3</span>
                        <span class="time-frame">ุชูุจููุงุช</span>
                        <span onclick="alertFull(3,180)" class="cost">90k/ุชูุจูู</span>
                        <span onclick="alertFull(3,270)" class="old_cost">135k/ุชูุจูู</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- ูุณู ุงูุจููู -->
    <h1 class="u-align-center u-custom-font u-text u-text-default u-text-1" spellcheck="false"
        style="font-size: 1.5rem;">Belly</h1>
    <div class="container">
        <!-- ุจููู ูุถุงุนู -->
        <div class="card">
            <div class="card-top background-red">
                <h3>ุจููู ูุถุงุนู</h3>
                <p class="card-subtag">ูุชู ูุถุงุนูุฉ ุงูุจููู ุงูููุชุณุจ ูู ุงููุนุงููุงุช ูุงููุณุงุจูุงุช ุงูุถุง</p>
            </div>
            <div class="options">
                <ul class="option-list">
                    <li class="option">
                        <span class="number">1</span>
                        <span class="time-frame">ููู</span>
                        <span class="cost">300k/ููู</span>
                        <span class="old_cost">450k/ููู</span>
                    </li>
                    <li class="option">
                        <span class="number">3</span>
                        <span class="time-frame">ุงูุงู</span>
                        <span onclick="alertFull(3,240)" class="cost">240k/ููู</span>
                        <span onclick="alertFull(3,360)" class="old_cost">360k/ููู</span>
                    </li>
                    <li class="option">
                        <span class="number">7</span>
                        <span class="time-frame">ุงูุงู</span>
                        <span onclick="alertFull(7,180)" class="cost">180k/ููู</span>
                        <span onclick="alertFull(7,270)" class="old_cost">270k/ููู</span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Free day To you -->
        <div class="card">
            <div class="card-top background-red">
                <h3>free day for only you</h3>
                <p class="card-subtag">ูุชู ุงุนุทุงุฆู ุงูุตูุงุญูุฉ ูู ุงูุชุญุฏุซ ูุงุฑุณุงู ุตูุฑ ุฎุงุฑุฌ ูุทุงู ุงูุงููู ูู ูุฐู ุงูุงูุงู ูู ููุท
                </p>
            </div>
            <div class="options">
                <ul class="option-list">
                    <li class="option">
                        <span class="number">1</span>
                        <span class="time-frame">ููู</span>
                        <span class="cost">500k/ููู</span>
                        <span class="old_cost">750k/ููู</span>
                    </li>
                    <li class="option">
                        <span class="number">3</span>
                        <span class="time-frame">ุงูุงู</span>
                        <span onclick="alertFull(3,400)" class="cost">400k/ููู</span>
                        <span onclick="alertFull(3,600)" class="old_cost">600k/ููู</span>
                    </li>
                    <li class="option">
                        <span class="number">5</span>
                        <span class="time-frame">ุงูุงู</span>
                        <span onclick="alertFull(5,180)" class="cost">300k/ููู</span>
                        <span onclick="alertFull(5,270)" class="old_cost">450k/ููู</span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Free day for every one -->
        <div class="card">
            <div class="card-top background-red">
                <h3>free day for everyone</h3>
                <p class="card-subtag">ูุชู ุงูุญููุน ุงูุตูุงุญูุฉ ูู ุงูุชุญุฏุซ ูุงุฑุณุงู ุตูุฑ ุฎุงุฑุฌ ูุทุงู ุงูุงููู ูู ูุฐู ุงูุงูุงู</p>
            </div>
            <div class="options">
                <ul class="option-list">
                    <li class="option">
                        <span class="number">1</span>
                        <span class="time-frame">ููู</span>
                        <span class="cost">1000k/ููู</span>
                        <span class="old_cost">1500k/ููู</span>
                    </li>
                    <li class="option">
                        <span class="number">3</span>
                        <span class="time-frame">ุงูุงู</span>
                        <span onclick="alertFull(3,800)" class="cost">800k/ููู</span>
                        <span onclick="alertFull(3,1200)" class="old_cost">1200k/ููู</span>
                    </li>
                    <li class="option">
                        <span class="number">5</span>
                        <span class="time-frame">ุงูุงู</span>
                        <span onclick="alertFull(5,600)" class="cost">600k/ููู</span>
                        <span onclick="alertFull(5,900)" class="old_cost">900k/ููู</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- ูุณู ุงูุงููุงุจ -->
    <h1 class="u-align-center u-custom-font u-text u-text-default u-text-1" spellcheck="false"
        style="font-size: 1.5rem;">Names</h1>
    <div class="container">
        <!-- ุชุบููุฑ ููุจ -->
        <div class="card">
            <div class="card-top background-red">
                <h3>ุชุบูุฑ ุงููุจ</h3>
                <p class="card-subtag">ุชุบุบูุฑ ููุจู ุงูุงุณุงุณู ุณูุงุก ุจุดูู ูุคูุช ุงู ููุงุฆู -ุชุจุฏูู ุงูุงููุงุจ 400000 ูู ุงูุทุฑููู</p>
            </div>
            <div class="options">
                <ul class="option-list">
                    <li class="option">
                        <span class="number">1</span>
                        <span class="time-frame">ููู</span>
                        <span class="cost">150k/ููู</span>
                        <span class="old_cost">225k/ููู</span>
                    </li>
                    <li class="option">
                        <span class="number">3</span>
                        <span class="time-frame">ุงูุงู</span>
                        <span onclick="alertFull(3,120)" class="cost">120k/ููู</span>
                        <span onclick="alertFull(3,180)" class="old_cost">180k/ููู</span>
                    </li>
                    <li class="option">
                        <span class="number">โ</span>
                        <span class="time-frame">ุงูุงู</span>
                        <span class="cost">500k</span>
                        <span class="old_cost">750k</span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- ูุถุน ููุจ ูู ูุตู ุงููุฑูุจ -->
        <div class="card">
            <div class="card-top background-red">
                <h3>ูุถุน ููุจ ูู ูุตู ุงููุฑูุจ</h3>
                <p class="card-subtag">ูุถุน ููุจู ูู ูุตู ุงููุฑูุจ ุงูุงุณุงุณู</p>
            </div>
            <div class="options">
                <ul class="option-list">
                    <li class="option">
                        <span class="number">1</span>
                        <span class="time-frame">ููู</span>
                        <span class="cost">100k/ููู</span>
                        <span class="old_cost">150k/ููู</span>
                    </li>
                    <li class="option">
                        <span class="number">3</span>
                        <span class="time-frame">ุงูุงู</span>
                        <span onclick="alertFull(3,80)" class="cost">80k/ููู</span>
                        <span onclick="alertFull(3,120)" class="old_cost">120k/ููู</span>
                    </li>
                    <li class="option">
                        <span class="number">5</span>
                        <span class="time-frame">ุงูุงู</span>
                        <span onclick="alertFull(5,60)" class="cost">60k/ููู</span>
                        <span onclick="alertFull(5,90)" class="old_cost">90k/ููู</span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- ูุถุน ููุจ ุฌุงูุจ ุงุณู ุงููุฑูุจ -->
        <div class="card">
            <div class="card-top background-red">
                <h3>ูุถุน ููุจ ุฌุงูุจ ุงุณู ุงููุฑูุจ</h3>
                <p class="card-subtag">ูุถุน ููุจู ุฌุงูุจ ุงุณู ุงููุฑูุจ ุงูุงุณุงุณู</p>
            </div>
            <div class="options">
                <ul class="option-list">
                    <li class="option">
                        <span class="number">1</span>
                        <span class="time-frame">ููู</span>
                        <span class="cost">200k/ููู</span>
                        <span class="old_cost">300k/ููู</span>
                    </li>
                    <li class="option">
                        <span class="number">3</span>
                        <span class="time-frame">ุงูุงู</span>
                        <span onclick="alertFull(3,160)" class="cost">160k/ููู</span>
                        <span onclick="alertFull(3,240)" class="old_cost">240k/ููู</span>
                    </li>
                    <li class="option">
                        <span class="number">5</span>
                        <span class="time-frame">ุงูุงู</span>
                        <span onclick="alertFull(5,120)" class="cost">120k/ููู</span>
                        <span onclick="alertFull(5,180)" class="old_cost">180k/ููู</span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- ุชุบููุฑ ุตูุฑุฉ ุนุฑุถ ุงูุงุณุงุณู -->
        <div class="card">
            <div class="card-top background-red">
                <h3>ุชุบููุฑ ุตูุฑุฉ ุนุฑุถ ุงูุงุณุงุณู</h3>
                <p class="card-subtag">ูู ุญุงู ูุงู ูุฏ ุชู ุชุบููุฑ ุตูุฑุฉ ุงูุนุฑุถ ูู ูุจู ุดุฎุต ุงุฎุฑ ูุจู ุงู ุชูุชูู ูุฏุชู ุชุนููุถู 100 ุนู
                    ูู ููู ุชุจูู ูู</p>
            </div>
            <div class="options">
                <ul class="option-list">
                    <li class="option">
                        <span class="number">1</span>
                        <span class="time-frame">ููู</span>
                        <span class="cost">200k/ููู</span>
                        <span class="old_cost">300k/ููู</span>
                    </li>
                    <li class="option">
                        <span class="number">3</span>
                        <span class="time-frame">ุงูุงู</span>
                        <span onclick="alertFull(3,160)" class="cost">160k/ููู</span>
                        <span onclick="alertFull(3,240)" class="old_cost">240k/ููู</span>
                    </li>
                    <li class="option">
                        <span class="number">5</span>
                        <span class="time-frame">ุงูุงู</span>
                        <span onclick="alertFull(5,120)" class="cost">120k/ููู</span>
                        <span onclick="alertFull(5,180)" class="old_cost">180k/ููู</span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- ุชุบููุฑ ุตูุฑุฉ ุนุฑุถ ุงูุงุนูุงูุงุช -->
        <div class="card">
            <div class="card-top background-red">
                <h3>ุชุบููุฑ ุตูุฑุฉ ุนุฑุถ ุงูุงุนูุงูุงุช</h3>
                <p class="card-subtag">ูู ุญุงู ูุงู ูุฏ ุชู ุชุบููุฑ ุตูุฑุฉ ุงูุนุฑุถ ูู ูุจู ุดุฎุต ุงุฎุฑ ูุจู ุงู ุชูุชูู ูุฏุชู ุชุนููุถู 50 ุนู
                    ูู ููู ุชุจูู ูู</p>
            </div>
            <div class="options">
                <ul class="option-list">
                    <li class="option">
                        <span class="number">1</span>
                        <span class="time-frame">ููู</span>
                        <span class="cost">150k/ููู</span>
                        <span class="old_cost">225k/ููู</span>
                    </li>
                    <li class="option">
                        <span class="number">3</span>
                        <span class="time-frame">ุงูุงู</span>
                        <span onclick="alertFull(3,120)" class="cost">120k/ููู</span>
                        <span onclick="alertFull(3,180)" class="old_cost">180k/ููู</span>
                    </li>
                    <li class="option">
                        <span class="number">5</span>
                        <span class="time-frame">ุงูุงู</span>
                        <span onclick="alertFull(5,90)" class="cost">90k/ููู</span>
                        <span onclick="alertFull(5,135)" class="old_cost">135k/ููู</span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- ุญุฌุฒ ููุจ -->
        <div class="card">
            <div class="card-top background-red">
                <h3>ุญุฌุฒ ููุจ</h3>
                <p class="card-subtag">ููููู ุญุฌุฒ ููุจ ุงูุฏุฉ ุญูุซ ูู ูุฐู ุงููุฏุฉ ูุง ูููู ูุงุญุฏ ุงู ูุบูุฑ ููุจู ุงูููุง ุงู ูุณุฌู ุนุถู
                    ุจูุง ุงูุง ุจุนุฏ ููุงููุชู</p>
            </div>
            <div class="options">
                <ul class="option-list">
                    <li class="option">
                        <span class="number">1</span>
                        <span class="time-frame">ููู</span>
                        <span class="cost">250k/ููู</span>
                        <span class="old_cost">375k/ููู</span>
                    </li>
                    <li class="option">
                        <span class="number">5</span>
                        <span class="time-frame">ุงูุงู</span>
                        <span onclick="alertFull(5,200)" class="cost">200k/ููู</span>
                        <span onclick="alertFull(5,300)" class="old_cost">300k/ููู</span>
                    </li>
                    <li class="option">
                        <span class="number">10</span>
                        <span class="time-frame">ุงูุงู</span>
                        <span onclick="alertFull(10,160)" class="cost">160k/ููู</span>
                        <span onclick="alertFull(10,240)" class="old_cost">240k/ููู</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script type="text/javascript">
        function alertFull(times, cost) {
            Swal.fire({
                title: "ุงูุชูููุฉ ุงููุงููุฉ ",
                text: (times * cost) + "k"
            })
        }
    </script>
</body>

</html>